* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
header {
  background-image: url("./images/banner/banner2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 809px;
}
.benar-text {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 525px;
  text-align: right;
  margin-right: 160px;
  padding-top: 200px;
}
.benar-title {
  color: #151414;
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 24px;
}
.benar-description {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
}
#primary-btn {
  width: 180px;
  margin-left: 350px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-top: 34px;
  padding: 20px 25px;
  border-radius: 5px;
  background: #f15b22;
}
.first-section{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main-pic{
    width: 527.929px;
}
.main-text  {
    margin-left: 105px;

   
}
.main-title{
    width: 288px;
    color:  #151414;
font-size: 40px;
font-weight: 700;
padding-bottom: 24px;
}
.main-description{
    width: 416px;
    color:  #444343;
font-size: 16px;
font-weight: 400;
padding-bottom: 24px;
}
.main-list{
    color: #444343;
font-size: 16px;
font-weight: 400;
}
ul li{
    list-style: none;
    padding-bottom: 10px;
}
li i{
    color: #16D887;
    padding-top: 10px;
    padding-right: 24px;
}

